<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <!-- stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <main>
  <div id="banner">
    <img src="https://images.pexels.com/photos/1020372/pexels-photo-1020372.jpeg">
  </div>
  <div class="big-section">
  <!--Banner Image-->
  <!-- for loop accessing query from shoes table -->
    <!--database queries -->
    <section class="filter">
      <form id="" action="" method="POST">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filter shoes..">
      <ul id="myUL">
        <li><a href="#">boots</a></li>
      </ul>
      </form>
    </section>

    <section class="main-page-listing">
      <% for (let listing of shoes) { %>
        <div class="individual-listing">
          <div class="listing-img"><img src="<%= listing.photo_url %>" alt="photo of shoe"></div>
          <div class="listing-main">
            <span><%= listing.title %></span>
            <div class="listing-details">
              <div>$<%= listing.price/100 %></div>
              <div><%= listing.size %></div>
            </div>
            <div class="listing-description"><p><%= listing.description %></p></div>
            <div class="add-to-favourites">
              <footer>add to favourites    <i class="fa-solid fa-heart"></i></footer>
            </div>
          </div>
          <!-- <div  class="listing-footer">
          </div> -->
        </div>
      <% } %>
      <!-- <div class="individual-listing">
        <div class="listing-img"><img src="https://images.pexels.com/photos/1020372/pexels-photo-1020372.jpeg"></div>
        <div class="listing-main">
          <span>Title</span>
          <div class="listing-details">
            <div>Price</div>
            <div>Size</div>
            <div>Category</div>
          </div>
          <div class="listing-description"><p>Description, Description, Description, Description</p></div>
        </div>
        <div  class="listing-footer">
          <footer><i class="fa-solid fa-heart"></i></footer>
        </div>
      </div> -->

    </section>
  </div>
</main>

</body>

</html>
