<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Listings</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/listings.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <%- include('partials/_header') %>

  <main>
    <section class="listings-main">
      <section class="listings-form">
        <form class="" action="/listings" method="POST">
          <div class="listings-form">
            <label for="title">Title: </label>
            <input class="form-control" type="text" name="title" placeholder="" style="width: 300px; margin: 1em">
            <label for="price">Price: </label>
            <input class="form-control" type="$" name="price" placeholder="" style="width: 300px; margin: 1em">
            <label for="size"> Size: </label>
            <input class="form-control" type="number" name="size" placeholder="" style="width: 300px; margin: 1em">
            <label for="description">Description: </label>
            <textarea class="form-control" type="text" name="description" placeholder="" style="width: 300px; margin: 1em"></textarea>
            <label for="category">Image: </label>
            <input class="form-control" type="text" name="img" placeholder="image url" style="width: 300px; margin: 1em">
            <button type="submit" class="listingbtn">Add Listing</button>
          </div>
        </form>
      </section>
      <section class="listings-page-listing">
        <% for (let listing of shoes) { %>
                <div class="individual-listing">
                  <div class="listing-img"><img src="<%= listing.photo_url || 'https://images.pexels.com/photos/7004739/pexels-photo-7004739.jpeg'%>" alt="photo of shoe"></div>
                  <div class="listing-main">
                    <span><%= listing.title %></span>
                    <div class="listing-details">
                      <div>$<%= listing.price/100 %></div>
                      <div><%= listing.size %></div>
                      <i class="fa-solid fa-heart"></i>
                    </div>
                    <div class="listing-description"><p><%= listing.description %></p></div>
                  </div>
                  <div class="listing-footer">
                    <div class="listing-delete-icon">
                      <i class="fa-solid fa-circle-trash"></i>
                    </div>
                  </div>
                </div>
                <% } %>
        </section>
      </section>
    </main>
 </body>
</html>
